/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 7rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroTitle {
  color: white !important;
  font-size: 3rem !important;
}

.heroSubtitle {
  color: white !important;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 660px) {
  .heroTitle {
    font-size: 1.5rem !important;
  }
}